/*!
 * TEST
 * Date: Sat Feb 13 22:33:48 2010 -0500
 */
body
{
	font-family:arial;
	color:#666;
}
a
{
	color:orange;
}
.error
{
	color:red;
	text-align:center;
}
/*!
 * clearfix from http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best
 */
/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

#wrapper
{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	background:url(../images/test.png);
}
#test
{
	background:url(../images/blabla.png);
	background:url(../images/blabla2.png);
	background:url(../images/blabla2.png);
	background:url(../images/blabla3.png);
	background:url(../images/blabla.png);
	background:url(../images/blabla3.png);
	background:url(../images/more_open.png);
	background:url(../images/blabla3.png);
	background:url(../images/blabla.png);
	background:url(../images/blabla3.png);
}

.logo img
{
	behavior:url(../assets/js/iepngfix.htc);
	-ms-behavior:url(../assets/js/iepngfix.htc);
}

#thes_more:hover, #thes_more.hover
{
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/more_open.png",sizingMethod="crop");
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/blabla2.png",sizingMethod="crop");
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/blabla3.png",sizingMethod="crop");
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/blabla.png",sizingMethod="crop");
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/more_open.png",sizingMethod="crop");
}
@font-face
{
	font-family: "InaiMathi";
	src: url('../fonts/InaiMathi.ttf');
}