#login
{
	font-size:10px;
	width:230px;
	position:relative;
}
#login .error
{
	position:absolute;
	right:15px;
	top:0;
}
#username, #password, #signin
{
	float:right;
}
#login .register
{
	float:right;
}
