.menu
{
	background:lightBlue;
	list-style:none;
	margin:0;
	padding:0;
}
.menu li
{
	background:#455;
	font-size:25px;
	height:40px;
	line-height:44px;
	margin:1px;
	text-align:center;
	cursor:pointer;
}
.menu a
{
	text-decoration:none;
}
.menu li:hover
{
	background:#255;
}